<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add  key="key1" value="val1"/>
    
    <add key="Local"
         value="Data Source=.;Initial Catalog=DBUsers;Integrated Security=True"/>
    <add key="LiveDNS"
         value="Data Source=.;Initial Catalog=DBUsers;Integrated Security=True"/>
  </appSettings>
  
  <connectionStrings>
    <add name="Local"
         connectionString="Data Source=.;Initial Catalog=DBUsers;Integrated Security=True"/>
    <add name="LiveDNS"
         connectionString="Data Source=.;Initial Catalog=DBUsers;Integrated Security=True"/>
  </connectionStrings>
</configuration>