<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />

        <!--<sessionState cookieless="true"  />-->

        <profile enabled="true">
            <properties>
                <add name="name" type="string" defaultValue="no name" allowAnonymous="true" />
                <add name="grade" type="int" defaultValue="-1" allowAnonymous="true" />
            </properties>
        </profile>
        <anonymousIdentification enabled="true" />
        
    </system.web>

</configuration>
